[submodule "OneDrive/Desktop/ACP FE/OneDrive/Desktop/ACP FE/Automatic-Car-Parking-Front-End"]
	path = OneDrive/Desktop/ACP FE/OneDrive/Desktop/ACP FE/Automatic-Car-Parking-Front-End
	url = https://github.com/SujataR1/Automatic-Car-Parking-Front-End.git
